<h1>TinyApp</h1>
<% if (!username) { %>
  <form method="POST" action="/login">
    <label for="login-username">Username:</label>
    <input id="login-username" type="text" name="username">
    <button class="btn btn-primary" type='submit'>Login</button>
  </form>
<% } else { %>
  <form method="POST" action="/logout">
    <label for="login-username">Logged in as <%= username %></label>
    <button class="btn btn-outline-primary" type='submit'>Logout</button>
  </form>
<% } %>