<h1>TinyApp</h1>
  <form method="POST" action="/login">
    <label for="login-username">Username:</label>
    <input id="login-username" type="text" name="username">
    <button class="btn btn-primary" type='submit'>Login</button>
  </form>