<nav class="navbar navbar-light">
  <a href="/urls" class="navbar-brand">TinyApp</a>
  
  <% if (!user) { %>
    <a href="/register">Register!</a>
    <form class="form-inline" method="GET" action="/login">
      <button class="btn btn-sm btn-primary" type='submit'>Login</button>
    </form>
  <% } else { %>
    <form class="form-inline" method="POST" action="/logout">
      <label id="logout-username" for="login-username"><small class="text-muted">Logged in as &nbsp;</small><strong><%= user.email %></strong></label>
      <button class="btn btn-sm btn-primary" type='submit'>Logout</button>
    </form>
  <% } %>

</nav>