<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New URL</title>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <div class="container">
      <form action="/urls" method="POST">
        <label for="longUrl">Enter a URL:</label>
        <input id="longUrl" type="text" name="longUrl" placeholder="http://">
        <button class="btn btn-outline-success" type='submit'>Save!</button>
      </form>
    </div>
  </body>
</html>