<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_head %>
</head>
<body>
<% include ./partials/_header %>
<div class="container">
  <ul class="list-group">
    <a class="list-group-item list-group-item-action" href='/urls/new'>Add new URL</a>
    <% for (key in urls) { %>
        <li class="list-group-item clearfix">
          <strong><%= key %></strong> <small><%= urls[key] %></small>
          <span class="float-right">
            <div class="btn-group" role="group">
              <form action="/urls/<%= key %>">
                <button class="btn btn-sm btn-outline-primary" type='submit'>Edit</button>
              </form>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button class="btn btn-sm btn-outline-danger" type='submit'>Delete</button>
              </form>
            </div>
          </span>
        </li>
      <% }
    %>
  </ul>
</div>
</body>
</html>