<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New URL</title>
    <% include ./partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <button class="btn btn-outline-success" type='submit'>Save!</button>
    </form>
  </body>
</html>