<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<% include ./partials/_header %>
<ul>
  <% for (key in urls) { %>
      <li><a href='/urls/<%= key %>'><%= key %></a> :: <%= urls[key] %>
      <form method="POST" action="/urls/<%= key %>/delete">
        <input type='submit' value='Delete'>
      </form>
      </li>
    <% }
  %>
</ul>
</body>
</html>