
input#longUrl {
  width: 300px;
}

nav {
  background-color: #DEF
}

.container {
  padding-top: 50px;
}

label#logout-username {
  padding-right: 20px;
}

span.shortUrl {
  min-width: 80px;
  display: block;
}

ul.list-group {
  margin-top: 10px;
}

ul.list-inline {
  display: inline;
}

li.long-url-shortened {
  /* https://stackoverflow.com/questions/23172893/in-html-css-is-there-anyway-to-have-a-span-cut-off-instead-of-going-on-to-an */
  width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* https://stackoverflow.com/questions/19362474/css-overflow-hidden-causing-text-alignment-problems */
  display:inline-block;
  vertical-align: middle;
}

#registration>label {
  width: 70px;
}