
input#longUrl {
  width: 300px;
}

nav {
  background-color: #DEF
}

.container {
  padding-top: 50px;
}

label#logout-username {
  padding-right: 20px;
}

strong.shortUrl {
  margin-right: 30px;
}

ul.list-group {
  margin-top: 10px;
}